{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
	<title>Sample {% block title %} | {% endblock %}</title>
</head>
<body>
 <div align="right">
  Welcome {{currentuser}} | <a href="/logout/">Sign Out</a>
</div>
<div align="center">
  <h1>Gift</h1>
</div>
<br><center><a href="/gift/member/">Home</a> | <a href="/gift/member_list/">Member(s)</a></center><br>
{% block content %}
{% endblock %}
</body>
</html>
