{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} | Home {% endblock %}
{% block content %}
{% if error %}
{{error}}
{% bootstrap_form_errors form %}
{% endif %}

<form action='/gift/member/' method='post'>{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
{% endblock %}
