{% load bootstrap3 %}
<!DOCTYPE html>
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>Sample | Login</title>
    </head>

    <body>
    <center>
        <h1>Login to Gift</h1>

        {% if error %}
        {% bootstrap_messages %}

        {{error}}
        {% endif %}
        <form id="login_form" method="post" action="/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
        </form>
</center>
    </body>
</html>
